/***
 * css sheet for simulation course
 */


.mailto {
	font-family: monospace;
	font-variant: normal;
}
	
table.rubric tr:first-child {
	background-color: #0e0e0e;
	font-weight: bold;
	color: white;
}

table.header tr:first-child {
	background-color: #e0e0e0;
	font-weight: bold;
}

table tr.header {
	background-color: #e0e0e0;
	font-weight: bold;
}

table tr td.header {
	background-color: #e0e0e0;
	font-weight: bold;
}

img.attachment {
	padding: 1%;
}
